body {
    background-color: rgb(18, 24, 34);
    /*margin-right: 150px;
    margin-left: 150px; */
}

p{
    color:white;
}
li{
    color: white;
}
h2{
    color:white;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}
.header{
    color: white;
    text-align: center;
    display: block;
}
